html {
    font-size: 62.5%;
    font-family: "Mozilla Headline", Garamaond, serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tituloUno {
    color: red;
}

.mi-texto-hover {
    transition: color 0.3s ease; 
}

.mi-texto-hover:hover {
    color: pink;
}

.text-holder {
    color: aqua;
}

main {
    font-size: 1.7rem;
}

.boxes-section {
    text-align: center;
    width: 100%;
}

.boxes-section > div {
    display: inline-block;
    vertical-align: top;
}

.box-one {
    height: 150px;
    width: 25%px;
    background-color: blue;
}

.box-two {
    height: 150px;
    width: 30%;
    background-color: aqua;
}

.box-three {
    height: 150px;
    width: 45%;
    background-color: red;
}